@import "tailwindcss";

@theme {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-opensans: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

/* Style pour les boutons de don */
.donation-amount:checked + label {
  background-color: #D97706;
  color: white;
  border-color: #D97706;
}
